:root{
  --cinza: #D0DFE6;
  --lilas: #bc34a3b3;
  --azulClaro: #1794A5;
  --azulEscuro: #032030;
  --branco: #f2f2f2;
  --preto: #1a1a1a;
}
.box1{
  background-color: var(--lilas);
  height: 120px;
}

.box2{
  background-color: var(--lilas);
  height: 60px;
}

.redes{
  font-size: 40px !important;
  color: white;
}

.textos{
 color: white;
}
.text-decorator-none{
  text-decoration: none ;
}