
.caixa{
  background-color: #bc33a3e8;
}
.titulo{
  color: #bc33a3e8;
  text-align: center;
}
.img{
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
.botao{
  border-color: white !important;
  background-color: #3F51B5;
  color: white !important;
}

.postagens{
  background-color: white;
}