
.caixa{
  background-color: #bc34a3b3;
}
.titulo{
  color: #f5f5f5 !important;
  text-align: center;
}
.img{
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
.botao{
  border-color: white !important;
  /* background-color: #3F51B5; */
  color: white !important;
}

.postagens{
  background-color: white;
}
.text-decorator-none{
  text-decoration: none ;
}